# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Virtual environment directories
.venv/
env/
venv/

# IDE/editor directories and files (VS Code, PyCharm, etc.)
.vscode/
.idea/

# System files
Thumbs.db
.DS_Store

# Log files
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
*.egg-info/
dist/
build/
*.egg
*.tar.gz

# Environment variable files
.env
.envrc

# Database files
*.sqlite3
*.db

# Python dependencies files (in case of auto-generation or caching)
*.nox/
*.coverage
.coverage.*
nosetests.xml
test_*.xml
tox.ini
